.ant-layout-sider.ant-layout-sider-dark.side-bar {
  margin: 10px 0px 10px 10px;
  min-width: 200px;
  max-width: 350px !important;
  flex: 0.1 0 200px !important;
  width: 350px !important;
}
.ant-layout-sider.ant-layout-sider-dark.side-bar main.ant-layout-content.css-dev-only-do-not-override-2i2tap {
  height: 100% !important;
}
.select-dataset {
  width: 100%;
}
.select-dataset p {
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 400;
}
.select-dataset .ant-select {
  height: 40px;
  width: 100%;
}
.select-dataset,
.search-partition,
.search-ip {
  margin: 40px 0;
}
